@*@model SimpleASPLogin.Models.Driver*@

@{
    ViewData["Title"] = "Driver Dashboard";
    //var email = HttpContext.Session.GetString("Email");
}

<!--<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .navbar {
        width: 200px;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;
        top: 0;
        left: 0;
        height: 100%;
        background-color: blueviolet;
        padding-top: 5px;
        color: white;
    }

        .navbar a {
            display: block;
            color: white;
            padding: 16px;
            text-decoration: none;
            text-align: center;
        }

            .navbar a:hover {
                background-color: white;
                color: blueviolet;
            }

    .main-content {
        margin-left: 220px;
        padding: 20px;
    }

    .profile {
        text-align: center;
        margin-bottom: 20px;
    }

        .profile img {
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .profile p {
            color: white;
            margin-top: 10px;
        }
</style>



<aside class="navbar">
    <center>
        <div class="profile">
            <img src="/Img/profile_01.png" alt="Profile Image">-->
            @*<p>@email</p>*@
        <!--</div>
    </center>
    <a asp-action="EnterRental">Enter Rental Details</a>
    <a asp-action="RentalHistory">Rental History</a>
    <a asp-action="Edit">Edit Details</a>
    <a asp-action="SalaryHistory">View Salary History</a>
</aside>-->

<div class="container">
    <h2>Welcome</h2>
    <p>Select an option from the menu.</p>
</div>






<!--<h2>Welcome</h2>

<ul>
    <li><a asp-action="EnterRental">Enter Rental Details</a></li>
    <li><a asp-action="RentalHistory">Rental History</a></li>
    <li><a asp-action="Edit">Edit Details</a></li>
    <li><a asp-action="SalaryHistory">View Salary History</a></li>-->
@*<li><a asp-action="AssignedJobs">View Assigned Jobs</a></li>*@

@*<li><a asp-action="ReportFault">Report Vehicle Fault</a></li>*@
<!--</ul>-->
@*@model SimpleASPLogin.Models.Driver*@